################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/CapoeiraTimer/v15/Server/sqlite3
/obj/Debug
